In [1]:
import pandas as pd
import pyarrow.parquet as pq
from io import BytesIO
import gdown

In [34]:
#THIS WORKS, do not execute until lfs is figured out 
# link to parquet dataset strored in google drive 
download_link = 'https://drive.google.com/uc?id=1gmweBjIc_ZB3TmvM_oLQq4ATe4K4sndC'

# create download

#file_path = gdown.download(download_link, quiet=False)

# Read the Parquet into a pandas dataframe

#df = pq.read_table(file_path).to_pandas()

Downloading...
From (uriginal): https://drive.google.com/uc?id=1gmweBjIc_ZB3TmvM_oLQq4ATe4K4sndC
From (redirected): https://drive.google.com/uc?id=1gmweBjIc_ZB3TmvM_oLQq4ATe4K4sndC&confirm=t&uuid=00875390-b88f-443c-860d-89ad08c45a62
To: /Users/danielajimenez/opioid-2023-ss1486-us26-avb26-dj216/three_states_2.parquet
100%|██████████| 190M/190M [00:05<00:00, 37.9MB/s]

In [33]:
df

,BUYER_COUNTY,BUYER_STATE,TRANSACTION_DATE,CALC_BASE_WT_IN_GM,MME
0,WILLIAMSON,TX,2019-01-31,26.89500,40342.500
1,BEXAR,TX,2019-01-25,18.16200,18162.000
2,HARDIN,TX,2019-01-25,3.02700,3027.000
3,MONTGOMERY,TX,2019-01-25,6.05400,6054.000
4,VAN ZANDT,TX,2019-01-25,3.02700,3027.000
...,...,...,...,...,...
48880605,VOLUSIA,FL,2014-08-08,1.34475,2017.125
48880606,VOLUSIA,FL,2014-12-03,3.58600,5379.000
48880607,VOLUSIA,FL,2014-12-08,4.48250,6723.750
48880608,VOLUSIA,FL,2014-12-12,4.03425,6051.375
48880609,POLK,FL,2013-10-09,1.79300,2689.500